# このファイルは、サーバーのIPアドレスとポート番号を設定するための環境変数を定義しています。
# 必要に応じて、SERVER_IPの値を変更してください。
# .env.exampleの、「.example」を外したファイル名で保存することで、サーバーの設定を反映させることができます。

SERVER_IP = "10.192.000.0"  # サーバーのIPアドレス (随時変更)
PORT_NUMBER = 8765          # センサー受信サーバーのポート番号（基本変えない）
RPI_ID = "raspi_000"        # ラズパイ識別番号（随時変更）
SENSOR_ID = "dht_0"         # センサー識別番号（随時変更）
GPIO_NUMBER = 26             # DHT22を接続するGPIO番号
CSV_FILE = "outputs/failed_sensor_readings.csv"  # 失敗データCSV
LOG_DIR = "logs"          # ログ保存ディレクトリ
