[Unit]
Description=IoT Sensor Web Dashboard
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=u3sound
WorkingDirectory=/home/u3sound/IPUT/iot-dev-pro-3-g-08b-work
ExecStart=/home/u3sound/IPUT/iot-dev-pro-3-g-08b-work/venv314/bin/python /home/u3sound/IPUT/iot-dev-pro-3-g-08b-work/server/src/web_dashboard.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
