[Unit]
Description=IoT Sensor Client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=raspi4
WorkingDirectory=/home/raspi4/iot-dev-pro-3-g-08b-work
ExecStart=/home/raspi4/iot-dev-pro-3-g-08b-work/venv/bin/python /home/raspi4/iot-dev-pro-3-g-08b-work/client/src/sensor_client.py
Restart=always
RestartSec=10
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
