# このファイルは、サーバーのIPアドレスとポート番号を設定するための環境変数を定義しています。
# 必要に応じて、SERVER_IPの値を変更してください。
# .env.exampleの、「.example」を外したファイル名で保存することで、サーバーの設定を反映させることができます。

SERVER_IP = "0.0.0.0"   # サーバーのIPアドレス
PORT_NUMBER = 8765      # センサー受信サーバーのポート番号
F_HOST = "0.0.0.0"      # Flaskサーバーのホスト
F_PORT = 5001           # Flaskサーバーのポート番号
